<configuration>

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d][%-5level][%X{transId}][%logger{0}:%L] %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="STDOUT" />
		<queueSize>100000</queueSize> 
	</appender>
	
	<!-- 按照每天生成日志文件 -->
	<appender name="rollingFile"  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/jc/logs/quiet/quiet-live-hall/quiet-live-hall.log</File>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>/jc/logs/quiet/quiet-live-hall/quiet-live-hall_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
			<pattern>[%d][%-5level][%X{transId}][%logger{0}:%L] %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
		
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="rollingFile" />
	</root>
    <logger name="dao" level="DEBUG"/>
</configuration>