<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiet.live.hall.mapper.JStoreMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, name AS name, address AS address, create_time AS createTime, update_time AS updateTime, oper AS oper,
		  oper_id AS operId, ky_date AS kyDate, del_flag AS delFlag, jw_du AS jwDu,remarke AS remarke,imgurl AS imgurl ,storetitle 
	</sql>

</mapper>