<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiet.live.hall.mapper.JWxtempMsgMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, msg_name AS msgName, msg_type AS msgType,title,
	remark,
	url

	</sql>

</mapper>